body{
background-color: rgb(44, 5, 75);
overflow: hidden;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Three equal columns */
    gap: 10px;  /* Align images vertically */
    position: absolute;
    bottom: 10px;
    width: 350px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(228, 240, 208);
    z-index: 20;
}
.sound, .video,.close{
 width: 80px;
 height: auto;
 margin: 15px;
 user-select: none;

}

.faceMeshContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1390px;
    height: 800px;
    border: 2px solid black;
    top: 50%;
    right: 30px;
    transform: translateY(-50%); 
    background-image:url("girltalk-bg/bgVoid.png");
    background-size: cover; 
    background-position: center; 
    transition: background-image 1s ease-in-out;
}

.textbox{
    width: 1300px;
    height: auto;
    position: absolute;
    bottom: 20px;
}

.message{
    width: 1220px;
    height: 130px;
    position: absolute;
    bottom: 20px;
    border:none;
    padding:20px;
    padding-left:90px;
    padding-right:60px;
    font-size: 24px;
    user-select: none;
    font-family: Charter;

    
}
.clickable {
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
  }
  
  /* 使用 data-* 属性选择器替代 CSS 变量 */
  .clickable:hover {
    color: inherit; /* 重置颜色 */
  }
  
  /* 通过行内样式直接应用颜色 */
  .clickable:hover {
    color: blue !important;
  }
  

.girl{
    width:900px;
    height:auto;
    position:absolute;
    bottom:0;
    user-select: none;
}

 /* CSS 添加： */
 @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }


  /*#input-container {
    position: fixed;
    left: 40px;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 0.3s;
  }

  #user-input {
    padding: 10px;
    width: 200px;
    border: 2px solid rgb(253, 181, 247);
    border-radius: 5px;
  }

  #done-btn {
    padding: 8px 20px;
    background: rgb(253, 181, 247);
    color: rgb(194, 7, 131);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #done-btn:hover {
    background:rgb(253, 181, 247);
  }*/

  .hidden {
    display: none !important;
  }

